@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url("landingpagepic.jpg") no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content{
    max-width: 500px;
    margin: 0 auto;
    text-align: center ;
}

.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: rgba(238, 12, 12, 0.747);
    font-size: 250%;
    padding: 10px 20px;
    border: solid rgba(19, 1, 2, 0.986) 3px;
    text-decoration: none;
}

.btn:hover {
    color: rgb(8, 8, 8);
    border: solid rgb(5, 0, 0) 3px;
}

.w3-bar-block .w3-bar-item {padding:20px}

.bgimg-1 {
    background-image: url('/w3images/parallax1.jpg');
    min-height: 100%;
}