@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.w3-bar-block .w3-bar-item {padding:20px}

.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('landingpagepic.jpg');
    min-height: 100%;
}