<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project2 by TEAM ALPHA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/landingpage.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css"
</head>
<body>
    <div class="w3-top">
            <div class="w3-row  w3-padding w3-black">
                <div class="w3-col s3">
                <a href="#" class="w3-button w3-block w3-black">Home</a>
                </div>
                <div class="w3-col s3">
                <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
                </div>
                <div class="w3-col s3">
                <a href="#Team" class="w3-button w3-block w3-black">TEAM</a>
                </div>
                <div class="w3-dropdown-hover w3-col s3">
                    <button href="#where" class="w3-button w3-block w3-black">Data visualizations</button>
                    <div class="w3-dropdown-content w3-col w3-padding w3-black">
                            <a href="heatmap" target="_blank" class="w3-block w3-button">Heatmap</a>
                            <a href="tableau" target="_blank" class="w3-block w3-button">Tableau</a>
                            <a href="d3" target="_blank" class="w3-block w3-button">D3</a>
                            <a href="geojson" target="_blank" class="w3-block w3-button">Geojson sample</a>
                    </div>
                </div>
            </div>
    </div>
    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">TEAM <span class="w3-hide-small">ALPHA</span></span>
        </div>
    </div>
<!-- <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
        <img class="w3-image" src="../static/background_homepage.jpg" alt="APLHA" width="1600" height="">
        <div class="w3-padding-large w3-opacity">
            <h1 class="w3-xlarge">Team ALPHA</h1>
        </div>
</header> -->

<div class="w3-content " style="max-width:1100px">

        <!-- About Section -->
        <div class="w3-row w3-padding-64" id="about">
          <div class="w3-col m6 w3-padding-large w3-hide-small">
           <img src="https://previews.123rf.com/images/ppbig/ppbig1412/ppbig141200033/34332118-big-data-analysis-concept.jpg" class="w3-round w3-image w3-opacity-min" alt="data analysis" width="600" height="750">
          </div>
      
            <div class="w3-col m6 w3-padding-large">
                <h2 class="w3-center">Project Overview</h2><br>
                <p class="w3-hide-medium">Welcome to Team Alpha! We are otherwise known as the solutionists and here is why! 
                    Ever wonder if where you go on vacation or where you want to live in the world is prone to natural disasters such as Earthquakes? 
                    <p>We are here to demonstrate the visualizations that clearly depict years of earthquake data from the USGS.gov site in order to show 
                    a correlation or a trend of which can ultimately determine the predictability or likelihood of and earthquake occurring in a specific 
                    location of your choosing based on its occurrence throughout the years.</p> Through the usage of Python, JavaScript, D3, Leaftlet, Tableau and MongoDB Atlas 
                    we are able to produce interactive geo-graphical visualizations, multifunctional diagrams and data analysis to help answer some of those concerns. </p>
                <p class="w3-hide-medium">Please check out the Data visualization option on the navbar!!!</p>
                <p class="w3-large w3-text-grey w3-hide-medium"></p>
            </div>
        </div>
        
<hr>

<div class="w3-row-padding" id="Team">
        <div class="w3-center w3-padding-64">
          <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Team Members</span>
        </div>
    
        <div class="w3-third w3-margin-bottom">
          <div class="w3-card-4">
            <img src="../static/giselle_sena.JPG" alt="Giselle" style="width:98%">
            <div class="w3-container">
                <h3>Giselle Sena</h3>
                <p class="w3-opacity">Rutgers Datascience Bootcamp</p>
                <p></p>
                <div class="w3-xlarge w3-center">
                        <a href="https://github.com/GSena032" target="_blank" class="fa fa-github w3-hover-opacity"></a>
                        <a href="https://www.linkedin.com/in/gisellesena07/" target="_blank" class="fa fa-linkedin w3-hover-opacity"></a>
                </div>
            </div>
          </div>
        </div>
    
        <div class="w3-third w3-margin-bottom">
          <div class="w3-card-4">
            <img src="../static/mike.jpg" alt="Mike" style="width:100%">
            <div class="w3-container">
                <h3>Michael Diaz</h3>
                <p class="w3-opacity">Rutgers Datascience Bootcamp</p>
                <p></p>
                <div class="w3-large w3-center">
                    <a href="https://github.com/FutureGM" target="_blank" class="fa fa-github w3-hover-opacity"></a>
                    <a href="https://www.linkedin.com/in/michael-diaz-data-science/" target="_blank" class="fa fa-linkedin w3-hover-opacity"></a>
                </div>
            </div>
          </div>
        </div>
    
        <div class="w3-third w3-margin-bottom">
          <div class="w3-card-4">
            <img src="../static/Profile_pic.jpg" alt="Shiven" style="width:100%">
            <div class="w3-container">
                <h3>Shiven Patel</h3>
                <p class="w3-opacity">Rutgers Datascience Bootcamp</p>
                <p></p>
                <div class="w3-large w3-center">
                    <a href="https://github.com/shiven91" target="_blank" class="fa fa-github w3-hover-opacity"></a>
                    <a href="https://www.linkedin.com/in/shiven-patel-8734a8100/" target="_blank" class="fa fa-linkedin w3-hover-opacity"></a>
                </div>
            </div>
          </div>
        </div>
</div>
    <div class="w3-white w3-margin w3-center">
            <div class="w3-container w3-xxxlarge ">
                <h2>Team Alpha</h2>
                <a href="https://github.com/shiven91/DataScienceProject2" target="_blank" class="fa fa-github w3-hover-opacity"></a>
            </div>
    </div>
</body>
</html>